
.container {
    display: flex;
    flex-flow: row wrap;
    
}

button {
    display: block;
}

.box {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: pink;
}

h3 {
    color: rgb(207, 184, 163);
    text-align: center;
    word-wrap: break-word;
};



